css copied from live website 

.elementor-18 .elementor-element.elementor-element-310218fd {
    --min-height: 64px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-right: 4%;
    --padding-bottom: 0%;
    --padding-left: 4%;
    --z-index: 95
}

.elementor-18 .elementor-element.elementor-element-310218fd:not(.elementor-motion-effects-element-type-background),
.elementor-18 .elementor-element.elementor-element-310218fd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-c696dce)
}

.elementor-18 .elementor-element.elementor-element-310218fd,
.elementor-18 .elementor-element.elementor-element-310218fd::before {
    --border-transition: 0.3s
}

.elementor-18 .elementor-element.elementor-element-444ee561 {
    --justify-content: center;
    --background-transition: 0.3s
}

.elementor-18 .elementor-element.elementor-element-444ee561.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-18 .elementor-element.elementor-element-7cc111af {
    text-align: left
}

.elementor-18 .elementor-element.elementor-element-7cc111af img {
    width: 80px !important;
    height: 40px !important;
    object-fit: contain
}

.elementor-18 .elementor-element.elementor-element-509ca97d {
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 70px;
    --background-transition: 0.3s
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-menu-toggle {
    margin-left: auto;
    background-color: var(--e-global-color-86b4fcd)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    font-style: var(--e-global-typography-accent-font-style);
    text-decoration: var(--e-global-typography-accent-text-decoration);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item:hover,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed .elementor-item:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var(--e-global-color-text)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed .elementor-item:before {
    border-width: 1px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-underline .elementor-item:after,
.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-overline .elementor-item:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-double-line .elementor-item:before,
.elementor-18 .elementor-element.elementor-element-f0c4eec .e--pointer-double-line .elementor-item:after {
    height: 1px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec {
    --e-nav-menu-horizontal-menu-item-margin: calc(64px / 2);
    width: auto;
    max-width: auto
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 64px
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-menu-toggle {
    color: var(--e-global-color-primary)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-secondary)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a:hover,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-764183d)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: var(--e-global-color-764183d)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec div.elementor-menu-toggle {
    color: var(--e-global-color-accent)
}

.elementor-18 .elementor-element.elementor-element-f0c4eec div.elementor-menu-toggle svg {
    fill: var(--e-global-color-accent)
}

.elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button {
    fill: var(--e-global-color-d6cea4e);
    color: var(--e-global-color-d6cea4e);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 100px 100px 100px 100px;
    padding: 16px 42px
}

.elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button:hover,
.elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button:focus {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-86b4fcd)
}

.elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button:hover svg,
.elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button:focus svg {
    fill: var(--e-global-color-accent)
}

.elementor-18 .elementor-element.elementor-element-23149d1 {
    width: auto;
    max-width: auto
}

.elementor-18 .elementor-element.elementor-element-23149d1.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 1
}

@media(max-width:1024px) {
    .elementor-18 .elementor-element.elementor-element-310218fd {
        --min-height: 68px
    }

    .elementor-18 .elementor-element.elementor-element-509ca97d {
        --justify-content: space-between;
        --gap: 0px;
        --padding-top: 0%;
        --padding-right: 0%;
        --padding-bottom: 0%;
        --padding-left: 10% !important
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing)
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec {
        --e-nav-menu-horizontal-menu-item-margin: calc(15px / 2) !important
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 35px
    }

    .elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button {
        padding: 14px 33px
    }
}

@media(max-width:769px) {
    .elementor-18 .elementor-element.elementor-element-310218fd {
        --min-height: 70px;
        --padding-top: 0%;
        --padding-right: 10%;
        --padding-bottom: 0%;
        --padding-left: 0% !important
    }

    .elementor-18 .elementor-element.elementor-element-444ee561 {
        --width: 20%
    }

    .elementor-18 .elementor-element.elementor-element-509ca97d {
        --width: 80%;
        --justify-content: space-between;
        --padding-top: 0%;
        --padding-right: 0%;
        --padding-bottom: 0%;
        --padding-left: 60% !important 
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing)
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-18 .elementor-element.elementor-element-f0c4eec .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 15px !important
    }

    .elementor-18 .elementor-element.elementor-element-f0c4eec {
        --nav-menu-icon-size: 20px
    }

    .elementor-18 .elementor-element.elementor-element-23149d1 .elementor-button {
        padding: 14px 25px
    }
}

@media(min-width:768.9px) {
    .elementor-18 .elementor-element.elementor-element-444ee561 {
        --width: 10%
    }
}    

@media (max-width: 767px) {
        .elementor-18 .elementor-element.elementor-element-509ca97d {
            --padding-left: 34% !important; /* Adjust padding-left for smaller screens */
        }
    }


@media(max-width:1024px) and (min-width:768px) {
    .elementor-18 .elementor-element.elementor-element-444ee561 {
        --width: 8.5%
    }

    .elementor-18 .elementor-element.elementor-element-509ca97d {
        --width: 91.5%
        
    }
}