.elementor-61 .elementor-element.elementor-element-7cf7f80e {
    --min-height: 372px;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --gap: 20px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-right: 4%;
    --padding-bottom: 0%;
    --padding-left: 4%
}

.elementor-61 .elementor-element.elementor-element-235a08d4 {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-235a08d4 .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-61c29187 {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-61c29187 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-c05b693-font-family), Sans-serif;
    font-size: var(--e-global-typography-c05b693-font-size);
    font-weight: var(--e-global-typography-c05b693-font-weight);
    text-transform: var(--e-global-typography-c05b693-text-transform);
    font-style: var(--e-global-typography-c05b693-font-style);
    text-decoration: var(--e-global-typography-c05b693-text-decoration);
    line-height: var(--e-global-typography-c05b693-line-height);
    letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
    word-spacing: var(--e-global-typography-c05b693-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-61c29187>.elementor-widget-container {
    padding: 0% 6%
}

.elementor-61 .elementor-element.elementor-element-30c94052 {
    --min-height: 579px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-30c94052:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-30c94052>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-61 .elementor-element.elementor-element-30c94052,
.elementor-61 .elementor-element.elementor-element-30c94052::before {
    --border-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-5ca5fcba {
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --align-items: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-right: 4%;
    --padding-bottom: 0%;
    --padding-left: 4%
}

.elementor-61 .elementor-element.elementor-element-1bad91df {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-1bad91df .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-1bad91df>.elementor-widget-container {
    margin: 0% 0% 1%
}

.elementor-61 .elementor-element.elementor-element-5fdb7604 {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-5fdb7604 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-c05b693-font-family), Sans-serif;
    font-size: var(--e-global-typography-c05b693-font-size);
    font-weight: var(--e-global-typography-c05b693-font-weight);
    text-transform: var(--e-global-typography-c05b693-text-transform);
    font-style: var(--e-global-typography-c05b693-font-style);
    text-decoration: var(--e-global-typography-c05b693-text-decoration);
    line-height: var(--e-global-typography-c05b693-line-height);
    letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
    word-spacing: var(--e-global-typography-c05b693-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-5fdb7604>.elementor-widget-container {
    padding: 0% 28%
}

.elementor-61 .elementor-element.elementor-element-7c3c4576 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 2.5%;
    --background-transition: 0.3s;
    --margin-top: 4%;
    --margin-right: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%
}

.elementor-61 .elementor-element.elementor-element-3e79e6.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-61 .elementor-element.elementor-element-3e79e6.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-61 .elementor-element.elementor-element-3e79e6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-wrapper {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-3e79e6 {
    width: var(--container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0
}

.elementor-61 .elementor-element.elementor-element-44e6e22.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-61 .elementor-element.elementor-element-44e6e22.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-61 .elementor-element.elementor-element-44e6e22.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-wrapper {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-44e6e22 {
    width: var(--container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0
}

.elementor-61 .elementor-element.elementor-element-1069ab4a.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-61 .elementor-element.elementor-element-1069ab4a.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-61 .elementor-element.elementor-element-1069ab4a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-wrapper {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-1069ab4a {
    width: var(--container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0
}

.elementor-61 .elementor-element.elementor-element-780b1097.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-61 .elementor-element.elementor-element-780b1097.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-61 .elementor-element.elementor-element-780b1097.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-wrapper {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-title {
    margin-bottom: 15px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-780b1097 {
    width: var(--container-widget-width, 38.5%);
    max-width: 38.5%;
    --container-widget-width: 38.5%;
    --container-widget-flex-grow: 0
}

.elementor-61 .elementor-element.elementor-element-2d850bbb {
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --align-items: stretch;
    --gap: 0px;
    --background-transition: 0.3s;
    --padding-top: 4%;
    --padding-right: 4%;
    --padding-bottom: 4%;
    --padding-left: 4%
}

.elementor-61 .elementor-element.elementor-element-2d850bbb:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-2d850bbb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary)
}

.elementor-61 .elementor-element.elementor-element-2d850bbb,
.elementor-61 .elementor-element.elementor-element-2d850bbb::before {
    --border-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-3aff0903 {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-3aff0903 .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-3aff0903>.elementor-widget-container {
    margin: 0%
}

.elementor-61 .elementor-element.elementor-element-27b35c9e {
    text-align: center
}

.elementor-61 .elementor-element.elementor-element-27b35c9e>.elementor-widget-container {
    margin: 1% 0% 0%
}

.elementor-61 .elementor-element.elementor-element-5eff0402 {
    --image-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
    --content-transition-duration: 800ms;
    --content-transition-delay: 800ms;
    width: 100%;
    max-width: 100%
}

.elementor-61 .elementor-element.elementor-element-5eff0402>.elementor-widget-container {
    margin: 5% 0% 0%
}

.elementor-61 .elementor-element.elementor-element-49e58bb7 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --gap: 2%;
    --background-transition: 0.3s;
    --padding-top: 8%;
    --padding-right: 4%;
    --padding-bottom: 8%;
    --padding-left: 4%
}

.elementor-61 .elementor-element.elementor-element-75cef452 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 20px;
    --background-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-number-wrapper {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a.elementor-position-right .elementor-image-box-img {
    margin-left: 0
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a.elementor-position-left .elementor-image-box-img {
    margin-right: 0
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-title {
    margin-bottom: 10px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-508a735b {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 20px;
    --background-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-number-wrapper {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-404f0252.elementor-position-right .elementor-image-box-img {
    margin-left: 0
}

.elementor-61 .elementor-element.elementor-element-404f0252.elementor-position-left .elementor-image-box-img {
    margin-right: 0
}

.elementor-61 .elementor-element.elementor-element-404f0252.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0
}

.elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-title {
    margin-bottom: 10px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-4e01ca5b {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 20px;
    --background-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-number-wrapper {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3.elementor-position-right .elementor-image-box-img {
    margin-left: 0
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3.elementor-position-left .elementor-image-box-img {
    margin-right: 0
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-title {
    margin-bottom: 10px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-79aa5b7 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 20px;
    --background-transition: 0.3s
}

.elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-number-wrapper {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing)
}

.elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

.elementor-61 .elementor-element.elementor-element-39674f44.elementor-position-right .elementor-image-box-img {
    margin-left: 0
}

.elementor-61 .elementor-element.elementor-element-39674f44.elementor-position-left .elementor-image-box-img {
    margin-right: 0
}

.elementor-61 .elementor-element.elementor-element-39674f44.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0
}

.elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-title {
    margin-bottom: 10px;
    font-family: var(--e-global-typography-392b9e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-392b9e0-font-size);
    font-weight: var(--e-global-typography-392b9e0-font-weight);
    text-transform: var(--e-global-typography-392b9e0-text-transform);
    font-style: var(--e-global-typography-392b9e0-font-style);
    text-decoration: var(--e-global-typography-392b9e0-text-decoration);
    line-height: var(--e-global-typography-392b9e0-line-height);
    letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
    word-spacing: var(--e-global-typography-392b9e0-word-spacing)
}

@media(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-7cf7f80e {
        --content-width: 755px
    }

    .elementor-61 .elementor-element.elementor-element-75cef452 {
        --width: 14%
    }

    .elementor-61 .elementor-element.elementor-element-508a735b {
        --width: 14%
    }

    .elementor-61 .elementor-element.elementor-element-4e01ca5b {
        --width: 14%
    }

    .elementor-61 .elementor-element.elementor-element-79aa5b7 {
        --width: 14%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-7cf7f80e {
        --content-width: 540px
    }

    .elementor-61 .elementor-element.elementor-element-75cef452 {
        --width: 40%
    }

    .elementor-61 .elementor-element.elementor-element-508a735b {
        --width: 40%
    }

    .elementor-61 .elementor-element.elementor-element-4e01ca5b {
        --width: 40%
    }

    .elementor-61 .elementor-element.elementor-element-79aa5b7 {
        --width: 40%
    }
}

@media(max-width:1024px) {
    .elementor-61 .elementor-element.elementor-element-7cf7f80e {
        --min-height: 300px;
        --flex-wrap: wrap;
        --padding-top: 12%;
        --padding-right: 4%;
        --padding-bottom: 12%;
        --padding-left: 4%
    }

    .elementor-61 .elementor-element.elementor-element-235a08d4 {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-235a08d4 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-61c29187 {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-61c29187 .elementor-heading-title {
        font-size: var(--e-global-typography-c05b693-font-size);
        line-height: var(--e-global-typography-c05b693-line-height);
        letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
        word-spacing: var(--e-global-typography-c05b693-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-5ca5fcba {
        --padding-top: 12%;
        --padding-right: 4%;
        --padding-bottom: 12%;
        --padding-left: 4%
    }

    .elementor-61 .elementor-element.elementor-element-1bad91df .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-5fdb7604 .elementor-heading-title {
        font-size: var(--e-global-typography-c05b693-font-size);
        line-height: var(--e-global-typography-c05b693-line-height);
        letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
        word-spacing: var(--e-global-typography-c05b693-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-5fdb7604>.elementor-widget-container {
        padding: 0% 16%
    }

    .elementor-61 .elementor-element.elementor-element-7c3c4576 {
        --justify-content: space-between;
        --gap: 50px;
        --flex-wrap: wrap;
        --margin-top: 8%;
        --margin-right: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 {
        width: var(--container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 {
        width: var(--container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a {
        width: var(--container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 {
        width: var(--container-widget-width, 46%);
        max-width: 46%;
        --container-widget-width: 46%;
        --container-widget-flex-grow: 0
    }

    .elementor-61 .elementor-element.elementor-element-2d850bbb {
        --padding-top: 12%;
        --padding-right: 4%;
        --padding-bottom: 12%;
        --padding-left: 4%
    }

    .elementor-61 .elementor-element.elementor-element-3aff0903 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-27b35c9e>.elementor-widget-container {
        margin: 2% 0% 0%
    }

    .elementor-61 .elementor-element.elementor-element-5eff0402>.elementor-widget-container {
        margin: 8% 0% 0%;
        padding: 0% 10%
    }

    .elementor-61 .elementor-element.elementor-element-49e58bb7 {
        --gap: 80px;
        --flex-wrap: wrap;
        --padding-top: 12%;
        --padding-right: 8%;
        --padding-bottom: 12%;
        --padding-left: 8%
    }

    .elementor-61 .elementor-element.elementor-element-75cef452 {
        --gap: 15px
    }

    .elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-508a735b {
        --gap: 15px
    }

    .elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-4e01ca5b {
        --gap: 15px
    }

    .elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-79aa5b7 {
        --gap: 15px
    }

    .elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }
}

@media(max-width:767px) {
    .elementor-61 .elementor-element.elementor-element-7cf7f80e {
        --min-height: 245px;
        --padding-top: 20%;
        --padding-right: 6%;
        --padding-bottom: 20%;
        --padding-left: 6%
    }

    .elementor-61 .elementor-element.elementor-element-235a08d4 {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-235a08d4 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-235a08d4>.elementor-widget-container {
        margin: 0% 0% 4%
    }

    .elementor-61 .elementor-element.elementor-element-61c29187 {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-61c29187 .elementor-heading-title {
        font-size: var(--e-global-typography-c05b693-font-size);
        line-height: var(--e-global-typography-c05b693-line-height);
        letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
        word-spacing: var(--e-global-typography-c05b693-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-61c29187>.elementor-widget-container {
        padding: 0%
    }

    .elementor-61 .elementor-element.elementor-element-30c94052 {
        --min-height: 310px
    }

    .elementor-61 .elementor-element.elementor-element-5ca5fcba {
        --padding-top: 20%;
        --padding-right: 6%;
        --padding-bottom: 20%;
        --padding-left: 6%
    }

    .elementor-61 .elementor-element.elementor-element-1bad91df .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-1bad91df>.elementor-widget-container {
        margin: 0% 0% 8%
    }

    .elementor-61 .elementor-element.elementor-element-5fdb7604 .elementor-heading-title {
        font-size: var(--e-global-typography-c05b693-font-size);
        line-height: var(--e-global-typography-c05b693-line-height);
        letter-spacing: var(--e-global-typography-c05b693-letter-spacing);
        word-spacing: var(--e-global-typography-c05b693-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-5fdb7604>.elementor-widget-container {
        padding: 0%
    }

    .elementor-61 .elementor-element.elementor-element-7c3c4576 {
        --gap: 70px;
        --margin-top: 20%;
        --margin-right: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6>.elementor-widget-container {
        margin: 0%
    }

    .elementor-61 .elementor-element.elementor-element-3e79e6 {
        width: 100%;
        max-width: 100%
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22>.elementor-widget-container {
        margin: 0%
    }

    .elementor-61 .elementor-element.elementor-element-44e6e22 {
        width: 100%;
        max-width: 100%
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a>.elementor-widget-container {
        margin: 0%
    }

    .elementor-61 .elementor-element.elementor-element-1069ab4a {
        width: 100%;
        max-width: 100%
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-img {
        margin-bottom: 15px
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-780b1097>.elementor-widget-container {
        margin: 0%
    }

    .elementor-61 .elementor-element.elementor-element-780b1097 {
        width: 100%;
        max-width: 100%
    }

    .elementor-61 .elementor-element.elementor-element-2d850bbb {
        --padding-top: 20%;
        --padding-right: 8%;
        --padding-bottom: 20%;
        --padding-left: 8%
    }

    .elementor-61 .elementor-element.elementor-element-3aff0903 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-27b35c9e>.elementor-widget-container {
        margin: 4% 0% 0%;
        padding: 0%
    }

    .elementor-61 .elementor-element.elementor-element-5eff0402>.elementor-widget-container {
        margin: 12% 0% 0%;
        padding: 0%
    }

    .elementor-61 .elementor-element.elementor-element-49e58bb7 {
        --justify-content: space-between;
        --padding-top: 30%;
        --padding-right: 12%;
        --padding-bottom: 30%;
        --padding-left: 12%
    }

    .elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-401c9662 .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-img {
        margin-bottom: 0
    }

    .elementor-61 .elementor-element.elementor-element-1e5f0d2a .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-2fc817af .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-img {
        margin-bottom: 0
    }

    .elementor-61 .elementor-element.elementor-element-404f0252 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-6bbce9df .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-img {
        margin-bottom: 0
    }

    .elementor-61 .elementor-element.elementor-element-2c4e5c3 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-number-wrapper {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-55ec2472 .elementor-counter-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }

    .elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-img {
        margin-bottom: 0
    }

    .elementor-61 .elementor-element.elementor-element-39674f44 .elementor-image-box-title {
        font-size: var(--e-global-typography-392b9e0-font-size);
        line-height: var(--e-global-typography-392b9e0-line-height);
        letter-spacing: var(--e-global-typography-392b9e0-letter-spacing);
        word-spacing: var(--e-global-typography-392b9e0-word-spacing)
    }
}